/*-------RESET-----------------------------------------------------------------------------------------------------------*/
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    line-height: 1;
    font-size: 14px;
    color: #252B42;
    font-weight: 500;
    font-family: Work Sans;
}

.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

._container {
  max-width: 1800px;
  padding: 0px 15px;
  margin: 0px auto;
  box-sizing: content-box;
}

._ibg {
  position: relative; 
}

._ibg img {
   position: absolute;
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
   object-fit: cover;
}

/*-------MAIN-BLOCK-----------------------------------------------------------------------------------------------------------*/

.main__main-block {
  position: relative;
}

.main-block__body {
  position: relative;
  text-align: center;
  padding: 200px 0px 200px 0px;
  z-index: 2;
}

.main-block__title {
  font-size: 100px;
  font-weight: 800;
  color: #d0daff;
  letter-spacing: 0.2px;
  line-height: calc(80 / 58 * 100%);
}

@media(max-width: 645px) {
  .main-block__title {
    font-size: 50px;
    font-weight: 800;
    color: #000000;
    letter-spacing: 0.2px;
    line-height: calc(80 / 58 * 100%);
  }
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

/*-------CHARACTER__BLOCK-----------------------------------------------------------------------------------------------------------*/

.main__character-block {
  background-color: hsl(0deg 0% 0% / 80%);
}

.character-block__container {
  padding: 50px 0px;
}

.cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 0;
}

.character__card {
  width: 600px;
  height: 220px;
  display: flex;
  overflow: hidden;
  background: hsl(225deg 6% 25%);
  border-radius: 0.5rem;
  margin: 0.75rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

@media(max-width: 645px) {
  .character__card {
    width: 100%;
    height: 200px;
    display: flex;
    overflow: hidden;
    background: hsl(225deg 6% 25%);
    border-radius: 0.5rem;
    margin: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  }  
}

.card__image {
  flex: 2 1 0%;
  width: 100%;
}

.card__image img {
  width: 100%;
  height: 100%;
  margin: 0px;
  opacity: 1;
  transition: opacity 0.5s ease 0s;
  object-position: center center;
  object-fit: cover;
}

@media(max-width: 645px) {
  .card__image img {
    width: 100%;
    height: 200px;
    margin: 0px;
    opacity: 1;
    transition: opacity 0.5s ease 0s;
    object-position: center center;
    object-fit: cover;
  }
}

.card-info {
  flex: 3 1 0%;
  position: relative;
  padding: 0.75rem;
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
}

.card-info__section {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
}

.character__name {
  font-size: 1.5rem;
  font-weight: 800;
  letter-spacing: 1.5px;
  color: #fff;
}

.info__addition {
  font-size: 15px;
  color: gray;
}

.character__status {
  font-size: 15px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #fff;
}

.card-info__section a {
  font-size: 16px;
  line-height: 200%;
  letter-spacing: 0.5px;
  color: #fff;
}

/*-------SEARCH-BLOCK-----------------------------------------------------------------------------------------------------------*/

.search-container {
  display: flex;
  justify-content: center;
}

/*-------NAV-BLOCK-----------------------------------------------------------------------------------------------------------*/

.nav {
  margin-top: 20px;
}

.nav__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.nav__item:not(:last-child) {
  margin: 0px 21px 0px 0px;
}

.nav__link {
  color: #fff;
  font-weight: 600;
  line-height: calc(24 / 14 * 100%);
}